# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2

jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.8
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/

    #### TEMPLATE_NOTE: go expects specific checkout path representing url
    #### expecting it in the form of
    ####   /go/src/github.com/circleci/go-tool
    ####   /go/src/bitbucket.org/circleci/go-tool
    working_directory: /go/src/github.com/codeamp/circuit
    steps:
      - checkout
      - setup_remote_docker

      # specify any bash command here prefixed with `run: `
      - run: 
          name: Build Docker Containers
          command: |
            set -x
            docker-compose build postgres testing 
      # - run: 
      #     name: Bootstrap Postgres
      #     command: |
      #       set -x
      #       docker exec circuit_postgres /bin/bash && createdb codeamp_test -U postgres
      - run: 
          name: Run Tests
          command: |
            set -x
            docker-compose run --rm testing            