---
environment: "development"
redis:
  username:
  password:
  server: "redis"
  database: "0"
  pool: "30"
  process: "1"
plugins:
  codeamp:
    workers: 1
    postgres:
      host: "postgres"
      port: "15432"
      user: "postgres"
      dbname: "codeamp"
      sslmode: "disable"
      password: ""
    service_address: ":3011"
  gitsync:
    workers: 1
    workdir: "/tmp/gitsync" 
  heartbeat:
    workers: 1
  kubernetes:
    workers: 1
  dockerbuilder:
    workers: 1
    registry_host: "docker.io"
    registry_org: "checkr"
    registry_username: "drshrey"
    registry_password: "Idaman2016!"
    registry_user_email: "shreyas.jaganmohan@gmail.com"
    docker_host: "unix:///var/run/docker.sock"
    workdir: "/tmp/docker_build"  



